* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 100vw;
    max-height: 100vh;
    margin: 5rem 4rem 3rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h1 {
    font-family: 'Bilbo', cursive;
    font-size: 5rem;
    color: aliceblue;
}

.container h3 {
    font-family: 'Beau Rivage', cursive;
    font-size: 3rem;
    color: rgba(250, 250, 210);
}
.refresh {
    display: flex;
    justify-content: flex-end;
    margin: 1rem 2rem;
}

.css_button_gradient {
    min-width: 130px;
    height: 40px;
    color: black;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background-size: 120% auto;
    background-image: linear-gradient(315deg, #f8b500 0%, #fceabb 75%);
}

.css_button_gradient:hover {
    background-position: right center;
}

.css_button_gradient:active {
    top: 2px;
}